:root {
  --color-pale-blue: hsl(225,100%,94%);
  --color-bright-blue: hsl(245,75%,52%);
  
  --color-very-pale-blue: hsl(225,100%,98%);
  --color-desaturated-blue: hsl(224,23%,55%);
  --color-dark-blue: hsl(223,47%,23%);

  --font-base: 'Red Hat Display', sans-serif;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
  background-color: var(--color-pale-blue);
  background-image: url('./assets/pattern-background-desktop.svg');
  background-repeat: no-repeat;
  background-size: 100% 50%;
  display: grid;
  place-content: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media screen and (max-width: 375px) {
  body {
    background-image: url('./assets/pattern-background-mobile.svg');
    background-size: auto;
  }
}